header {
  width: 1440px;
  margin: 0 auto;
  padding: 50px 130px;
  font-family: "Nerko One", cursive;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.1px;
  background-color: #2a9d8f;
  color: white;
}

a {
  color: inherit;
}

.header_logo_link {
  display: inline-block;
  vertical-align: middle;
  margin-right: 861px;
}

nav {
  display: inline-block;
  vertical-align: middle;
}

.header_li {
  display: inline-block;
}

.middle_li {
  margin-inline: 38px;
}
